// ::selection {
//   color: #fff;
// }

* {
	box-sizing: border-box;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.cf {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

.button	{
	display: inline-block;
	background: linear-gradient(180deg, #985B5B 0%, #6D3939 100%);
	border: 2px solid #955959;
	box-sizing: border-box;
	border-radius: 30px;
	color: #fff;
	padding: 18px 38px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	transition: all 0.4s;

	&:hover {
		color: #6D3939;
		background: #fff;
	}
}

.text-center {
	text-align: center;
}