@import "vars.less";
@import "core.less";
@import "../slick/slick.less";
@import "../slick/slick-theme.less";

body {
	margin: 0;
	font-family: @Montserrat;
	background: url(../img/bg_img.png) no-repeat top center @bg;
}

body.home {
	background: #FFFFFF;
}

.header {
	width: 100%;
	background-color: #fff;
}

.header__top {
	min-height: 106px;
	background: @brown;
}

.header__logo {
	background: url(../img/logo.svg) no-repeat;
	background-size: cover;
	width: 393px;
	height: 82px;
	margin-top: 12px;

	@media (max-width: 992px) {
		margin: 12px auto;
	}

	@media (max-width: 575px) {
		max-width: 231px;
		height: 48px;
		background-size: cover;
	}

	> a {
		display: block;
		height: 100%;
	}
}

.header__search {
	width: 100%;
	padding: 4px 6px 4px 20px;
	background: #FFFFFF;
	border: 1px solid #F0F0F0;
	border-radius: 35px;
	margin: 32px auto;
	display: flex;
	justify-content: space-between;
	max-width: 442px;

	@media (max-width: 992px) {
		margin: 0 auto;
	}
}

.header__search-input {
	width: calc(100% - 55px);
	border: none;
	color: #858F98;
	outline: none;
	line-height: 1.7;
}

.header__search-submit {
	width: 50px;
	border: none;
	border-radius: 30px 59px 59px 30px;
	color: #a39a94;
	background: url(../img/search.svg) no-repeat center @brown;
	outline: none;
	cursor: pointer;
}

.header__contacts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 187px;

	@media (max-width: 1140px) {
		width: 260px;
		text-align: center;
		margin: 0 auto 15px;
	}
}

.header__phone {
	font: 600 22px @Montserrat;
	color: @black;
	width: 100%;
	text-decoration: none;

	@media (max-width: 1140px) {
		font-size: 30px;
	}
}

.header__order {
	font: 300 13px @Montserrat;
	color: @brown;
	width: 100%;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	position: relative;

	@media (max-width: 1140px) {
		justify-content: center;
		flex-direction: column;
	}
}

.header .menu {
	margin: 0;
	padding: 0;
	list-style: none;
	min-height: 69px;
	display: flex;

	@media (max-width: 1140px) {
		justify-content: center;
	}

	@media (max-width: 767px) {
		display: none;
		list-style-type: none;
		padding: 0;
		margin: 0;
		position: absolute;
		top: 50px;
		left: -15px;
		right: -15px;
		background: #fff;
		z-index: 2;

		&_active {
			display: flex;
			flex-direction: column;
		}
	}

	li {
		margin-right: 30px;
		display: flex;
		align-items: center;

		@media (max-width: 1140px) {
			text-align: center;
			margin: auto 15px;
		}

		@media (max-width: 767px) {
			justify-content: center;
		}

		&:last-child {
			margin-right: 0;

			@media (max-width: 1140px) {
				text-align: center;
				margin: auto 15px;
			}
		}

		a {
			color: @black;
			font: 500 14px @Montserrat;
			text-decoration: none;
			letter-spacing: 0.5px;
			transition: 0.3s all;
			position: relative;
			letter-spacing: 0.7px;

			&:before,
		    &:after {
		        content: '';
		        position: absolute;
		        bottom: 2px;
		        left: 0; 
		        right: 0;
		        top: 20px;
		        height: 2px;
		        background-color: #8D9C4C;

		        @media (max-width: 992px) {
					display: none;
				}
		    }
		    &:before {
		        opacity: 0;
		        transform: translateY(-@menuDistance);
		        transition: transform 0s @easeOutBack, opacity 0s;
		    }
		    &:after {
		        opacity: 0;
		        transform: translateY(@menuDistance/2);
		        transition: transform 0.3s @easeOutBack, opacity 0.3s;
		    }
		    &:hover,
		    &:focus {
		        &:before,
		        &:after {
		            opacity: 1;
		            transform: translateY(0);
		        }
		        &:before {
		            transition: transform 0.3s @easeOutBack, opacity 0.3s;
		        }
		        &:after {
		            transition: transform 0s 0.3s @easeOutBack, opacity 0s 0.3s;
		        }
		    }

		    @media (max-width: 767px) {
		    	display: block;
		    	width: 100%;
				height: 40px;
				text-align: center;
				text-decoration: none;
				color: @brown;
				font: 17px/40px 'Montserrat', sans-serif;
		    }
		}
	}

	.underbar{
		position: absolute;
		top: 20px;
		width: 0;
		height: 5px;
		background: rgba(100,100,200,0);
	}
}

/*.header__mobile-menu {
	display: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 50px;
	left: -15px;
	right: -15px;
	background: #fff;
	z-index: 2;

	a {
		display: block;
		height: 40px;
		text-align: center;
		text-decoration: none;
		color: @brown;
		font: 17px/40px 'Montserrat', sans-serif;
	}
}*/

.header__menu-toggler {
	display: none;

	@media (max-width: 767px) {
		display: block;
		display: block;
	    height: 50px;
	    line-height: 50px;
	    text-align: center;
	    font: bold 21px/50px 'Montserrat', sans-serif;
	    color: @brown;
	}
}

.header__mobile-menu {
	display: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 50px;
	left: -15px;
	right: -15px;
	background: #fff;
	z-index: 2;

	a {
		display: block;
		height: 40px;
		text-align: center;
		text-decoration: none;
		color: @brown;
		font: 17px/40px 'Montserrat', sans-serif;
	}
}



.header__cart-wrap {
	display: flex;
	flex-direction: row-reverse;

	@media (max-width: 992px) {
		margin: 0 auto;
		max-width: 200px;
	}
}

.header__cart {
	margin: 30px 10px 30px 0;
	width: 42px;
	height: 42px;
	background: url(../img/cart.svg) no-repeat center #fff;
	position: relative;
	border-radius: 50%;
	color: #fff;

	@media (max-width: 992px) {
		margin: 30px auto;
	}

	&:before {
		content: 'Корзина';
		letter-spacing: 1px;
		padding-right: 15px;
		position: absolute;
		top: 12px;
		left: -112px;
		font-weight: 500;

		@media (max-width: 992px) {
			margin: 20px auto 40px;
			top: -8px;
			left: -100px;
		}
	}

	&__counter {
		position: absolute;
		right: -13px;
		bottom: -8px;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background: #8D9C4C;
		border: 3px solid @brown;
		text-align: center;
		font: bold 14px @PTSans;
		line-height: 19px;
	}
}

.footer__main {
	background: @milk;
	border-top: 5px solid @lorange;
	padding-top: 81px;
	padding-bottom: 81px;

	@media (max-width: 480px) {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

.footer__logo {
	background: url(../img/footer_logo.svg) no-repeat;
	background-size: cover;
	width: 263px;
	height: 53px;

	> a {
		display: block;
		height: 100%;
	}
}

.footer__text {
	width: 100%;
	font: 600 15px @Montserrat;
	color: @black;
	margin-top: 30px;
}

.footer__socials {
	margin-top: 30px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
    position: relative;

    @media (max-width: 992px) {
		margin-bottom: 30px;
		justify-content: flex-start;
	}

	&:before {
    	content: 'Социальные сети:';
    	position: absolute;
		top: 8px;
		left: 0;
    	font: 15px @Montserrat;
		color: @black;

		@media (max-width: 992px) {
			content: '';
		}
    }
}

.footer__social-title {
	font: 15px @Montserrat;
}

.footer__social-item {
	width: 38px;
	height: 38px;
	margin-left: 21px;
	border-radius: 50%;
	border: 3px solid @brown;
	background-position: center;
	background-repeat: no-repeat;

	@media (max-width: 992px) {
		margin-left: 0;
		margin-right: 21px;
	}
}

.footer__social-item_vk {
    background-image: url(../img/vk.svg);
}

.footer__social-item_inst {
    background-image: url(../img/instagram.svg);
}

.footer__copyrights {
	width: 100%;
	background: @lorange;
	color: #AF8686;
}

.footer__copyrights-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 58px;
	font: 600 15px @Montserrat;

	@media (max-width: 575px) {
		flex-direction: column;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.footer__privacy-policy {
	color: #AF8686;
}

.footer__title {
	font: bold 25px @Montserrat;
	color: @brown;
	margin-bottom: 15px;

	@media (max-width: 767px) {
		margin-top: 15px;
		margin-bottom: 5px;
	}
}

.footer__menu {

	&_first {
		margin-left: 40px;

		@media (max-width: 992px) {
			margin-left: 0;
		}
	}

	&_second {
		margin-left: 15px;

		@media (max-width: 992px) {
			margin-left: 0;
		}
	}

	.menu {
		margin: 0;
		padding: 0;
		list-style: none;

		a { 
			text-decoration: none;
			font: 15px @Montserrat;
			color: @black;
			line-height: 31px;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.footer__contacts-text {
	font: 15px @Montserrat;
	color: @black;
	line-height: 31px;
}

.footer__phone {
	font: bold 32px @Montserrat;
	color: @black;
	text-decoration: none;
	display: block;
	margin-bottom: 28px;

	@media (max-width: 1200px) {
		font-size: 25px;
	}

	@media (max-width: 992px) {
		margin-bottom: 5px;
	}
}

.footer__mail {
	font: bold 17px @Montserrat;
	color: @black;
	text-decoration: none;
}


.breadcrumb {
	border: none;
	background: transparent;
	padding: 0;
	margin-top: 45px;
	margin-bottom: 20px;
	text-align: left;
	font: 14px @PTSans;

	li {
		display: inline-block;

		a {
			color: #B7B7B7;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.divider {
		margin: 0 10px;
	}
}

.main {
	margin-bottom: 138px;

	@media (max-width: 767px) {
		margin-bottom: 40px;
	}
}

.main-title {
	font-weight: bold;
	font-size: 30px;
	color: @black;
	margin: 0.67em 0;

	&_recomedns {
		margin-top: 40px;
	}
}

.content {
	background-color: #fff;
	padding: 86px 98px 72px 98px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;

	&__subtitle {
		font-size: 35px;
		text-align: center;
		margin: 0 0 50px 0;

		@media (max-width: 767px) {
			font-size: 24px;
			margin-bottom: 20px;
		}
	}

	@media (max-width: 767px) {
		padding: 25px 15px;
		font-size: 14px
	}
}

.about_us {
	&__short-text {
		line-height: 28px;
		font-weight: 300;

		@media (max-width: 767px) {
			line-height: 20px;
		}
	}
	
	&__image-wrap {
		width: 100%;
		max-height: 400px;
	}

	&__image {
		border-radius: 6px;
		width: 100%;
	}

	&__full-text-wrap {
		background: #F9F9F9;
		border: 1px solid rgba(0, 0, 0, 0.05);
		border-radius: 10px;
		padding: 73px;
		line-height: 28px;
		font-weight: 300;
		margin-top: 90px;

		@media (max-width: 767px) {
			padding: 25px 15px;
			line-height: 20px;
			margin-top: 30px;
		}
	}

	&__link {
		margin-top: 30px;

		@media (max-width: 767px) {
			padding: 15px 15px;
			font-size: 16px;
			margin-bottom: 20px;
		}

		&_full-text {
			margin-top: 40px;

			@media (max-width: 767px) {
				padding: 15px 15px;
				font-size: 16px
			}
		}
	}
}

.news {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.news__item {
	width: 298px;
	background: @milk;
	border: 1px solid #E2CCBE;
	box-shadow: 0px 3px 3px rgba(49, 60, 97, 0.4);
	border-radius: 15px;
	padding: 18px 18px 28px 18px;
	margin-bottom: 52px;

	&:hover .news__image {
    	transform: scale(1.2);
	}
}

.home .news__item {
	width: 371px;

	@media (max-width: 1200px) {
		width: 31%;
	}

	@media (max-width: 767px) {
		width: 48%;
	}

	@media (max-width: 480px) {
		width: 100%;
	}
}

.news__wrap {
	overflow: hidden;
	width: 100%;
	height: 137px;
	box-shadow: 0px 10px 20px rgba(49, 60, 97, 0.15);
	border-radius: 15px;
}

.news__image {
	min-width: 100%;
	transition: all .3s;
}

.news__info {
	padding: 0 10px;
	min-height: 200px;
}

.news__date {
	font: 300 13px @Montserrat;
	text-transform: uppercase;
	color: #3E4B5F;
	margin: 20px 0 10px;
}

.news__title {
	font: bold 16px @Montserrat;
	color: #6D3939;
	margin-top: 10px;
	text-decoration: none;
}

.news__text {
	overflow: hidden;
	font: 14px @Montserrat;
	line-height: 21px;
	color: #101F30;
	max-height: 180px;
}




.pagination {
	width: 300px;
	margin: 22px auto 0;

	.nav-links {
		display: flex;
		justify-content: space-between;
	}

	.page-numbers {
		width: 34px;
		height: 34px;
		background: #FAFAFA;
		border: 1px solid rgba(0, 0, 0, 0.11);
		box-sizing: border-box;
		border-radius: 7px;
		transition: all 0.3s;
		color: @black;
		text-decoration: none;
		text-align: center;
		padding: 7px;
		font: 600 17px @Montserrat;

		&:hover {
			background: #6D3939;
			color: #fff;
		}
	}

	.current {
		background: #6D3939;
		color: #fff;
	}
}

.popular {
	background: url(../img/popular_bg.png) repeat-x top center;
	padding-top: 75px;
	padding-bottom: 125px;

	@media (max-width: 480px) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.home_title_wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;

	@media (max-width: 767px) {
		flex-direction: column;
	}
}

.home_title {
	font: bold 35px @Montserrat;
	color: @black;

	@media (max-width: 767px) {
		margin-bottom: 20px;
		text-align: center;
	}
}

.popular__item {
	background: @milk;
	padding: 19px 22px;
	border: 1px solid #F3DDCF;
	box-shadow: 0px 3px 9px rgba(49, 60, 97, 0.4);
	border-radius: 15px;
	height: 400px;
	display: block;
	text-decoration: none;
	transition: all 0.3s;

	&:hover {
		box-shadow: 0px 3px 30px rgba(49, 60, 97, 0.5);
	}

	@media (max-width: 767px) {
		margin-bottom: 30px;
	}
}

.popular__item-inner {
	border: 1px solid rgba(109, 57, 57, 0.45);
	border-radius: 15px;
	padding: 19px 22px;
	height: 100%;
}

.popular__image-wrap {
	overflow: hidden;
	width: 100%;
	height: 233px;
	margin-bottom: 30px;
}

.popular__image {
	display: block;
	max-width: 100%;
    min-height: 223px;
    object-fit: contain;
    margin: auto;
}

.popular__items {
	margin-top: 65px;
}

.popular__title {
	font: 500 25px @Montserrat;
	color: @black;
	margin: auto;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		top: -20px;
		left: 0;
		right: 0;
		background: #D8CBC1;
	}
}

.catalog {
	padding-bottom: 122px;

	@media (max-width: 480px) {
		padding-bottom: 40px;
	}
}

.catalog__items {
	margin-top: 60px;
}

.catalog__item {
	background: @milk;
	padding-top: 22px;
	border: 1px solid #F3DDCF;
	box-shadow: 0px 3px 9px rgba(49, 60, 97, 0.4);
	border-radius: 15px;
	height: 565px;
	display: block;
	text-decoration: none;
	transition: all 0.3s;
	margin-bottom: 50px;

	&:hover {
		box-shadow: 0px 3px 30px rgba(49, 60, 97, 0.5);
	}

	@media (max-width:992px) {
		margin-bottom: 50px;
	}
}

.catalog__item-inner {
	padding: 0 22px;

	@media (max-width: 480px) {
		padding: 0 12px;
	}
}

.catalog__image-wrap {
	overflow: hidden;
	width: 100%;
	height: 270px;
	margin-bottom: 30px;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.08);
	box-shadow: 0px 1px 4px rgba(49, 60, 97, 0.15);
	border-radius: 15px;
	position: relative;
	display: block;
}

.catalog__image {
	display: block;
	max-width: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.catalog__title {
	font: 600 20px @Montserrat;
	color: @black;
	margin: auto;
	display: flex;
	align-items: center;
	height: 30px;
	font-family: Montserrat;
	text-decoration: none;
	padding: 0 10px;
}

.properties_cat {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	margin-bottom: 31px;
	padding: 0 10px;
}

.properties_cat__item {
	background: #F3DDCF;
	font-size: 14px;
	color: @black;
	width: 48%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	padding: 11px 13px;

	@media (max-width: 480px) {
		font-size: 12px;
		padding: 10px;
	}
}

.properties_cat__key {
	font-weight: 700;
	display: inline-block;
	margin-right: 10px;
}

.catalog__price-block {
	height: 101px;
	padding: 0 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: rgba(255, 255, 255, 0.55);
	border-top: 1px solid #F3DDCF;
	border-radius: 0 0 15px 15px;
}

.catalog__price {
	color: @black;
	font-size: 26px;
	text-align: center;

	@media (max-width: 480px) {
		font-size: 22px;
	}
}

.catalog__icon {
	display: inline-block;
	width: 15px;
	height: 16px;
	background: url(../img/cart_add.svg) no-repeat;
	margin-right: 5px;

	@media (max-width: 480px) {
		display: none;
	}
}

.catalog__add-to-cart {
	position: relative;
	padding-left: 23px;
	padding-right: 23px;

	&:hover .catalog__icon {
		background: url(../img/cart.svg) no-repeat;
	}
}

.all_products_button_wrap {
	text-align: center;
	margin-top: 50px;
	width: 100%;

	@media (max-width: 480px) {
		margin-top: 0;
	}
}

.all_products_button {
	background: transparent;
	color: @brown;

	&:hover {
		background: @brown;
		color: #fff;
	}

	@media (max-width: 480px) {
		padding: 18px;
	}
}

.highlight {
	background: url(../img/highlight_bg.jpg) no-repeat bottom center scroll / cover;
	padding-top: 152px;
	padding-bottom: 171px;

	@media (max-width:992px) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.highlight__inner {
	position: relative;
}

.highlight__image {
	position: absolute;
	top: -307px;
	left: -300px;
	width: 797px;
	height: 777px;
	background: url(../img/highlight.png) no-repeat;

	@media (max-width:992px) {
		display: none;
	}
}

.highlight__title {
	font: bold 42px/55px @Montserrat;
	color: @black;

	@media (max-width:992px) {
		font: bold 28px/33px @Montserrat;
	}
}

.highlight__text {
	font: 14px/29px @Montserrat;
	color: @black;
}

.highlight__button {
	margin-top: 50px;

	@media (max-width:992px) {
		margin-top: 20px;
	}
}

.info {
	padding-top: 70px;
	padding-bottom: 90px;

	@media (max-width:992px) {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

.info__text {
	font: 14px/29px @Montserrat;
	color: @black;
}

.info__images {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.info__small-image-wrap {
	width: 360px;
	height: 415px;
	overflow: hidden;
	border-radius: 15px;
}

.info__big-image-wrap {
	width: 721px;
	height: 415px;
	overflow: hidden;
	border-radius: 15px;
}

.info__small-image {
	max-width: 100%;
	box-shadow: 0px 22px 68px rgba(49, 60, 97, 0.5);
}

.info__big-image {
	max-width: 100%;
	box-shadow: 0px 22px 68px rgba(49, 60, 97, 0.5);
}

.home .slick-next {
	width: 44px;
	height: 44px;
	background: url(../img/slick_right.svg) no-repeat;
	right: 300px;
	z-index: 20;
}

.home .slick-prev {
	width: 44px;
	height: 44px;
	background: url(../img/slick_left.svg) no-repeat;
	left: 300px;
	z-index: 20;
}

.home .slick-dots {
	bottom: 55px;
	left: 0;
}

.home .slick-dots li {
	width: 10px;
	height: 10px;
	border: 2px solid @brown;
	border-radius: 50%;
	background: transparent;
	position: relative;
}

.home .slick-dots button {
	border: 0;
	width: 0;
	height: 0;
	padding: 0;

	&:after,
	&:before {
		display: none;
	}
}

.home .slick-dots .slick-active {
	background: @brown;

	&:before {
		content: '';
		position: absolute;
		top: -5px;
		left: -5px;
		border-radius: 50%;
		background: transparent;
		border: 1px solid @brown;
		width: 15px;
		height: 14px;
	}
}

.slider__content {
	width: 490px;
}

.slider__item {
	background-image: url(../img/slider_bg3.png), url(../img/slider_bg2.png), url(../img/slider_bg.jpg);
	background-repeat: no-repeat, no-repeat, no-repeat;
	height: 590px;
	background-size: cover;
}

.slider__title {
	margin-top: 100px;
	font: 600 41px @Montserrat;
	color: @black;
}

.slider__text {
	font: 14px/29px @Montserrat;
	color: @black;
	height: 125px;
	overflow: hidden;
}

.slider__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 52px;
}

.slider__price {
	margin-right: 40px;
	font-size: 42px;
}

.slider-image-wrap {
	width: 384px;
	height: 429px;
	margin-top: 90px;
	margin-right: 30px;
	overflow: hidden;
}

.slider__image {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}




/*cart*/

.cart__list {
	background: #FFFFFF;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

.cart__epmty {
	padding: 15px;
}

.cart__item {
	display: flex;
	align-items: center;
	padding: 26px 34px;
	border-bottom: 1px solid #DFE5ED;

	@media (max-width: 767px) {
		position: relative;
		flex-direction: column;
		flex-wrap: wrap;
	}

	@media (max-width: 480px) {
		padding: 20px 15px;
	}
}

.cart__image-wrap {
	overflow: hidden;
    width: 113px;
    height: 113px;
    background: radial-gradient(56.50px at 50% 50%, #FFFFFF 0%, #EDEDED 100%);
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0px 1px 4px rgba(49, 60, 97, 0.15);
    border-radius: 15px;
    position: relative;

    @media (max-width: 767px) {
		width: 150px;
   		height: 150px;
	}
}

.cart__image {
	display: block;
	max-width: 100%;
	object-fit: contain;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}

.cart__title {
	width: 255px;
	margin-left: 45px;
	color: #131D28;
	font: 500 16px @Montserrat;

	@media (max-width: 767px) {
		text-align: center;
		margin-top: 15px;
		margin-left: 0;
	}
}

.cart__counter {
	display: flex;
    justify-content: space-around;
    align-items: center;
	width: 120px;
	margin-left: 30px;
	border: 1px solid #D2D6E0;
	border-radius: 4.5px;
	padding: 9px;

	@media (max-width: 767px) {
		margin-top: 15px;
		margin-left: 0;
	}

	&_product {
		width: 170px;
		margin: 10px auto 15px;

		@media (max-width: 767px) {
			margin: 10px auto;
		}
	}
}

.cart__q {
	text-decoration: none;
	font-size: 20px;

	&_inc {
		color: #83C47D;
	}

	&_dec {
		color: #D24848;
	}
}

.cart__sum {
	font: 24px @Montserrat;
	color: #131D28;
	margin-left: 38px;
	width: 110px;
	white-space: nowrap;

	@media (max-width: 767px) {
		margin-top: 15px;
		margin-left: 0;
	}
}

.cart__q_wrapper {
	display: flex;
	justify-content: space-between;
	width: 50px;
}

.cart_delete {
	display: block;
	width: 15px;
	height: 15px;
	margin-left: 46px;
	background: url(../img/delete_cart_item.svg) no-repeat;

	@media (max-width: 767px) {
		margin-left: 0;
		position: absolute;
		right: 20px;
		top: 20px;
	}
}

.cart__links {
	display: flex;
	justify-content: space-between;
	padding: 26px 34px;

	@media (max-width: 575px) {
		flex-direction: column;
	}
}

.cart__link {
	color: #A1AAB2;
	font: 500 14px @Montserrat;
	text-decoration: none;

	@media (max-width: 575px) {
		margin-top: 10px;
	}
}

.cart__total {
	background: #FFFFFF;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;

	@media (max-width: 992px) {
		margin-top: 20px;
	}
}

.cart__total-text {
	font: 14px @Montserrat;
	padding: 15px 0;
	text-align: center;
}

.cart__total-sum {
	font: 600 40px @Montserrat;
	color: #6D3939;
	text-align: center;
	padding: 25px 5px;
	background: #F9F9F9;
	border-top: 1px solid #DFE5ED;
	border-bottom: 1px solid #DFE5ED;

	&_product {
		color: #131D28;
		font-weight: 300;
	}
}

.cart__go_checkout {
	padding: 35px 0;
	text-align: center;

	&_product {
		padding: 0;
	}
}

.cart__button {
	padding: 22px 38px;
}

.cart__button {
	text-align: center;

	@media (max-width: 1140px) {
		font-size: 15px;
		padding: 17px 22px;
	}
}

.order_confirmed {
	text-align: center;
	margin: 0 auto;
}

.order_confirmed__image {
	background: url(../img/order_confirmed.svg) no-repeat;
	width: 94px;
	height: 97px;
	margin: 0 auto;
}

.order_confirmed__title {
	font-size: 30px;
	font-weight: bold;
    color: #1C1F23;
    margin-top: 46px;
}

.order_confirmed__text {
    margin-top: 30px;
}

.order_confirmed__button {
    margin-top: 70px;

    @media (max-width: 767px) {
		padding: 15px 18px;
	}
}

.product__slider {
	min-height: 520px;
	background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.product__info {
	min-height: 520px;
	background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    @media (max-width: 992px) {
		margin-top: 20px;
	}
}

.product__delivery {
	padding: 25px;
	font-size: 13px;
	line-height: 20px;
	border-bottom: 1px solid #DFE5ED;

	@media (max-width: 992px) {
		text-align: center;
	}
}

.product__content {
	background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 50px;
}

.product__avalable {
	font: 700 14px 'Montserrat', sans-serif;
    padding: 15px 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.product__avalable-icon {
	background: url(../img/available.svg) no-repeat;
	width: 23px;
	height: 17px;
	margin-right: 5px;
}

.product__counter {
	margin: 28px;
	text-align: center;
}

.product__one-click-buy {
	display: block;
	margin: 20px auto;
	text-align: center;
	text-decoration: underline;
	font-weight: 500;
	color: #131D28;

	&:hover {
		text-decoration: none;
	}
}

.tabs__titles {
	display: flex;
	justify-content: space-between;
	background: #F9F9F9;
	border-radius: 10px 10px 0 0;
}

.tabs__title {
	width: 50%;
	padding: 21px 0 17px 0;
	text-align: center;
	text-decoration: none;
	color: #131D28;

	&.active {
		color: #6D3939;
		border-bottom: 4px solid #6D3939;
		font-weight: bold;
	}

	&[data-content="props"] {
		border-right: 1px solid rgba(0, 0, 0, 0.07);
	}

	@media (max-width: 480px) {
		font-size: 14px;
	}
}



.tabs__content {
	display: none;
}

.tabs__content.active {
	display: block;
}

.tabs__content {
	padding: 70px 100px;

	@media (max-width: 767px) {
		padding: 18px;
	}

	&_props {
		
	}
}


.props__line {
	display: flex;
	justify-content: space-between;
	padding: 20px 30px;
	border-radius: 10px;

	@media (max-width: 767px) {
		flex-direction: column;
	}
}

.props__line:nth-child(2n + 1) {
	background: #F2F2F2;
}

.props__key {
	font-weight: bold;
}

.catalog__items_small {
	margin-top: 40px;
}

.catalog__item_small {
	height: 490px;

	.catalog__image-wrap {
		height: 204px;
		margin-bottom: 16px;
	}

	.catalog__title {
		font-size: 15px;
		height: 60px;
	}

	.properties_cat {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.catalog__price {
		font-size: 18px;
	}

	.catalog__add-to-cart {
		padding: 9px 15px;
		font-size: 14px;
	}

	.properties_cat__item {
		display: flex;
		flex-direction: column;
	}
}

.sidebar {
	border-radius: 10px;
	background: #FAFAFC;
	border: 1px solid rgba(0, 0, 0, 0.05);
	padding: 12px;
}

.sidebar__title {
	background: #E8E0DB;
	font-weight: bold;
	text-align: center;
	padding: 14px 27px;
	border-radius: 10px;
}

//mine
@media (max-width: 768px) {
	.main-title {
		text-align: center;
	}
	.content {
		max-width: 80%;
		margin: 0 auto;
	}
	.footer__main {
		text-align: center;
	}
	.footer__logo{
		margin: 0 auto;
	}
	.footer__socials {
		justify-content: center;
	}
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
	.content {
		max-width: 90%;
		margin: 0 auto;
	}
}

