@brown: #6D3939;
@milk: #FFF1E8;
@lorange: #F4DED9;
@black: #1C1F23;
@bg: #F0F0F8;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,500i,600,700,700i,800,900|PT+Sans:400,400i,700,700i&subset=cyrillic');

@Montserrat: 'Montserrat', sans-serif;
@PTSans: 'PT Sans', sans-serif;

@menuDistance: 8px;
@easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);