@charset "UTF-8";

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZOg3z-PZ1.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZcgvz-PZ1.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459W1hzg.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3g3D-w.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3g3D-w.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3g3D-w.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_c5H3g3D-w.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat Black'), local('Montserrat-Black'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_epG3g3D-w.ttf) format('truetype');
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(https://fonts.gstatic.com/s/ptsans/v11/jizYRExUiTo99u79D0e0w8mN.ttf) format('truetype');
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(https://fonts.gstatic.com/s/ptsans/v11/jizdRExUiTo99u79D0e8fOydKxUY.ttf) format('truetype');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v11/jizaRExUiTo99u79D0aEwA.ttf) format('truetype');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v11/jizfRExUiTo99u79B_mh0OqtKA.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.button {
  display: inline-block;
  background: linear-gradient(180deg, #985B5B 0%, #6D3939 100%);
  border: 2px solid #955959;
  box-sizing: border-box;
  border-radius: 30px;
  color: #fff;
  padding: 18px 38px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.4s;
}

.button:hover {
  color: #6D3939;
  background: #fff;
}

.text-center {
  text-align: center;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */

.slick-loading .slick-list {
  background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Icons */
}

@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/slick.eot');
  src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */

.slick-dotted .slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: url(../img/bg_img.png) no-repeat top center #F0F0F8;
}

body.home {
  background: #FFFFFF;
}

.header {
  width: 100%;
  background-color: #fff;
}

.header__top {
  min-height: 106px;
  background: #6D3939;
}

.header__logo {
  background: url(../img/logo.svg) no-repeat;
  background-size: cover;
  width: 393px;
  height: 82px;
  margin-top: 12px;
}

.header__logo > a {
  display: block;
  height: 100%;
}

.header__search {
  width: 100%;
  padding: 4px 6px 4px 20px;
  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  border-radius: 35px;
  margin: 32px auto;
  display: flex;
  justify-content: space-between;
  max-width: 442px;
}

.header__search-input {
  width: calc(100% - 55px);
  border: none;
  color: #858F98;
  outline: none;
  line-height: 1.7;
}

.header__search-submit {
  width: 50px;
  border: none;
  border-radius: 30px 59px 59px 30px;
  color: #a39a94;
  background: url(../img/search.svg) no-repeat center #6D3939;
  outline: none;
  cursor: pointer;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 187px;
}

.header__phone {
  font: 600 22px 'Montserrat', sans-serif;
  color: #1C1F23;
  width: 100%;
  text-decoration: none;
}

.header__order {
  font: 300 13px 'Montserrat', sans-serif;
  color: #6D3939;
  width: 100%;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 69px;
  display: flex;
}

.header .menu li {
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.header .menu li:last-child {
  margin-right: 0;
}

.header .menu li a {
  color: #1C1F23;
  font: 500 14px 'Montserrat', sans-serif;
  text-decoration: none;
  letter-spacing: 0.5px;
  transition: 0.3s all;
  position: relative;
  letter-spacing: 0.7px;
}

.header .menu li a:before,
.header .menu li a:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  top: 20px;
  height: 2px;
  background-color: #8D9C4C;
}

.header .menu li a:before {
  opacity: 0;
  transform: translateY(-8px);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}

.header .menu li a:after {
  opacity: 0;
  transform: translateY(4px);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.3s;
}

.header .menu li a:hover:before,
.header .menu li a:focus:before,
.header .menu li a:hover:after,
.header .menu li a:focus:after {
  opacity: 1;
  transform: translateY(0);
}

.header .menu li a:hover:before,
.header .menu li a:focus:before {
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.3s;
}

.header .menu li a:hover:after,
.header .menu li a:focus:after {
  transition: transform 0s 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.3s;
}

.header .menu .underbar {
  position: absolute;
  top: 20px;
  width: 0;
  height: 5px;
  background: rgba(100, 100, 200, 0);
}

/*.header__mobile-menu {
	display: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 50px;
	left: -15px;
	right: -15px;
	background: #fff;
	z-index: 2;

	a {
		display: block;
		height: 40px;
		text-align: center;
		text-decoration: none;
		color: @brown;
		font: 17px/40px 'Montserrat', sans-serif;
	}
}*/

.header__menu-toggler {
  display: none;
}

.header__mobile-menu {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50px;
  left: -15px;
  right: -15px;
  background: #fff;
  z-index: 2;
}

.header__mobile-menu a {
  display: block;
  height: 40px;
  text-align: center;
  text-decoration: none;
  color: #6D3939;
  font: 17px/40px 'Montserrat', sans-serif;
}

.header__cart-wrap {
  display: flex;
  flex-direction: row-reverse;
}

.header__cart {
  margin: 30px 10px 30px 0;
  width: 42px;
  height: 42px;
  background: url(../img/cart.svg) no-repeat center #fff;
  position: relative;
  border-radius: 50%;
  color: #fff;
}

.header__cart:before {
  content: 'Корзина';
  letter-spacing: 1px;
  padding-right: 15px;
  position: absolute;
  top: 12px;
  left: -112px;
  font-weight: 500;
}

.header__cart__counter {
  position: absolute;
  right: -13px;
  bottom: -8px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #8D9C4C;
  border: 3px solid #6D3939;
  text-align: center;
  font: bold 14px 'PT Sans', sans-serif;
  line-height: 19px;
}

.footer__main {
  background: #FFF1E8;
  border-top: 5px solid #F4DED9;
  padding-top: 81px;
  padding-bottom: 81px;
}

.footer__logo {
  background: url(../img/footer_logo.svg) no-repeat;
  background-size: cover;
  width: 263px;
  height: 53px;
}

.footer__logo > a {
  display: block;
  height: 100%;
}

.footer__text {
  width: 100%;
  font: 600 15px 'Montserrat', sans-serif;
  color: #1C1F23;
  margin-top: 30px;
}

.footer__socials {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.footer__socials:before {
  content: 'Социальные сети:';
  position: absolute;
  top: 8px;
  left: 0;
  font: 15px 'Montserrat', sans-serif;
  color: #1C1F23;
}

.footer__social-title {
  font: 15px 'Montserrat', sans-serif;
}

.footer__social-item {
  width: 38px;
  height: 38px;
  margin-left: 21px;
  border-radius: 50%;
  border: 3px solid #6D3939;
  background-position: center;
  background-repeat: no-repeat;
}

.footer__social-item_vk {
  background-image: url(../img/vk.svg);
}

.footer__social-item_inst {
  background-image: url(../img/instagram.svg);
}

.footer__copyrights {
  width: 100%;
  background: #F4DED9;
  color: #AF8686;
}

.footer__copyrights-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 58px;
  font: 600 15px 'Montserrat', sans-serif;
}

.footer__privacy-policy {
  color: #AF8686;
}

.footer__title {
  font: bold 25px 'Montserrat', sans-serif;
  color: #6D3939;
  margin-bottom: 15px;
}

.footer__menu_first {
  margin-left: 40px;
}

.footer__menu_second {
  margin-left: 15px;
}

.footer__menu .menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__menu .menu a {
  text-decoration: none;
  font: 15px 'Montserrat', sans-serif;
  color: #1C1F23;
  line-height: 31px;
}

.footer__menu .menu a:hover {
  text-decoration: underline;
}

.footer__contacts-text {
  font: 15px 'Montserrat', sans-serif;
  color: #1C1F23;
  line-height: 31px;
}

.footer__phone {
  font: bold 32px 'Montserrat', sans-serif;
  color: #1C1F23;
  text-decoration: none;
  display: block;
  margin-bottom: 28px;
}

.footer__mail {
  font: bold 17px 'Montserrat', sans-serif;
  color: #1C1F23;
  text-decoration: none;
}

.breadcrumb {
  border: none;
  background: transparent;
  padding: 0;
  margin-top: 45px;
  margin-bottom: 20px;
  text-align: left;
  font: 14px 'PT Sans', sans-serif;
}

.breadcrumb li {
  display: inline-block;
}

.breadcrumb li a {
  color: #B7B7B7;
}

.breadcrumb li a:hover {
  text-decoration: none;
}

.breadcrumb .divider {
  margin: 0 10px;
}

.main {
  margin-bottom: 138px;
}

.main-title {
  font-weight: bold;
  font-size: 30px;
  color: #1C1F23;
  margin: 0.67em 0;
}

.main-title_recomedns {
  margin-top: 40px;
}

.content {
  background-color: #fff;
  padding: 86px 98px 72px 98px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.content__subtitle {
  font-size: 35px;
  text-align: center;
  margin: 0 0 50px 0;
}

.about_us__short-text {
  line-height: 28px;
  font-weight: 300;
}

.about_us__image-wrap {
  width: 100%;
  max-height: 400px;
}

.about_us__image {
  border-radius: 6px;
  width: 100%;
}

.about_us__full-text-wrap {
  background: #F9F9F9;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 73px;
  line-height: 28px;
  font-weight: 300;
  margin-top: 90px;
}

.about_us__link {
  margin-top: 30px;
}

.about_us__link_full-text {
  margin-top: 40px;
}

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news__item {
  width: 298px;
  background: #FFF1E8;
  border: 1px solid #E2CCBE;
  box-shadow: 0px 3px 3px rgba(49, 60, 97, 0.4);
  border-radius: 15px;
  padding: 18px 18px 28px 18px;
  margin-bottom: 52px;
}

.news__item:hover .news__image {
  transform: scale(1.2);
}

.home .news__item {
  width: 371px;
}

.news__wrap {
  overflow: hidden;
  width: 100%;
  height: 137px;
  box-shadow: 0px 10px 20px rgba(49, 60, 97, 0.15);
  border-radius: 15px;
}

.news__image {
  min-width: 100%;
  transition: all 0.3s;
}

.news__info {
  padding: 0 10px;
  min-height: 200px;
}

.news__date {
  font: 300 13px 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #3E4B5F;
  margin: 20px 0 10px;
}

.news__title {
  font: bold 16px 'Montserrat', sans-serif;
  color: #6D3939;
  margin-top: 10px;
  text-decoration: none;
}

.news__text {
  overflow: hidden;
  font: 14px 'Montserrat', sans-serif;
  line-height: 21px;
  color: #101F30;
  max-height: 180px;
}

.pagination {
  width: 300px;
  margin: 22px auto 0;
}

.pagination .nav-links {
  display: flex;
  justify-content: space-between;
}

.pagination .page-numbers {
  width: 34px;
  height: 34px;
  background: #FAFAFA;
  border: 1px solid rgba(0, 0, 0, 0.11);
  box-sizing: border-box;
  border-radius: 7px;
  transition: all 0.3s;
  color: #1C1F23;
  text-decoration: none;
  text-align: center;
  padding: 7px;
  font: 600 17px 'Montserrat', sans-serif;
}

.pagination .page-numbers:hover {
  background: #6D3939;
  color: #fff;
}

.pagination .current {
  background: #6D3939;
  color: #fff;
}

.popular {
  background: url(../img/popular_bg.png) repeat-x top center;
  padding-top: 75px;
  padding-bottom: 125px;
}

.home_title_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.home_title {
  font: bold 35px 'Montserrat', sans-serif;
  color: #1C1F23;
}

.popular__item {
  background: #FFF1E8;
  padding: 19px 22px;
  border: 1px solid #F3DDCF;
  box-shadow: 0px 3px 9px rgba(49, 60, 97, 0.4);
  border-radius: 15px;
  height: 400px;
  display: block;
  text-decoration: none;
  transition: all 0.3s;
}

.popular__item:hover {
  box-shadow: 0px 3px 30px rgba(49, 60, 97, 0.5);
}

.popular__item-inner {
  border: 1px solid rgba(109, 57, 57, 0.45);
  border-radius: 15px;
  padding: 19px 22px;
  height: 100%;
}

.popular__image-wrap {
  overflow: hidden;
  width: 100%;
  height: 233px;
  margin-bottom: 30px;
}

.popular__image {
  display: block;
  max-width: 100%;
  min-height: 223px;
  object-fit: contain;
  margin: auto;
}

.popular__items {
  margin-top: 65px;
}

.popular__title {
  font: 500 25px 'Montserrat', sans-serif;
  color: #1C1F23;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  position: relative;
}

.popular__title:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: -20px;
  left: 0;
  right: 0;
  background: #D8CBC1;
}

.catalog {
  padding-bottom: 122px;
}

.catalog__items {
  margin-top: 60px;
}

.catalog__item {
  background: #FFF1E8;
  padding-top: 22px;
  border: 1px solid #F3DDCF;
  box-shadow: 0px 3px 9px rgba(49, 60, 97, 0.4);
  border-radius: 15px;
  height: 565px;
  display: block;
  text-decoration: none;
  transition: all 0.3s;
  margin-bottom: 50px;
}

.catalog__item:hover {
  box-shadow: 0px 3px 30px rgba(49, 60, 97, 0.5);
}

.catalog__item-inner {
  padding: 0 22px;
}

.catalog__image-wrap {
  overflow: hidden;
  width: 100%;
  height: 270px;
  margin-bottom: 30px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0px 1px 4px rgba(49, 60, 97, 0.15);
  border-radius: 15px;
  position: relative;
  display: block;
}

.catalog__image {
  display: block;
  max-width: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.catalog__title {
  font: 600 20px 'Montserrat', sans-serif;
  color: #1C1F23;
  margin: auto;
  display: flex;
  align-items: center;
  height: 30px;
  font-family: Montserrat;
  text-decoration: none;
  padding: 0 10px;
}

.properties_cat {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 31px;
  padding: 0 10px;
}

.properties_cat__item {
  background: #F3DDCF;
  font-size: 14px;
  color: #1C1F23;
  width: 48%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 11px 13px;
}

.properties_cat__key {
  font-weight: 700;
  display: inline-block;
  margin-right: 10px;
}

.catalog__price-block {
  height: 101px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.55);
  border-top: 1px solid #F3DDCF;
  border-radius: 0 0 15px 15px;
}

.catalog__price {
  color: #1C1F23;
  font-size: 26px;
  text-align: center;
}

.catalog__icon {
  display: inline-block;
  width: 15px;
  height: 16px;
  background: url(../img/cart_add.svg) no-repeat;
  margin-right: 5px;
}

.catalog__add-to-cart {
  position: relative;
  padding-left: 23px;
  padding-right: 23px;
}

.catalog__add-to-cart:hover .catalog__icon {
  background: url(../img/cart.svg) no-repeat;
}

.all_products_button_wrap {
  text-align: center;
  margin-top: 50px;
  width: 100%;
}

.all_products_button {
  background: transparent;
  color: #6D3939;
}

.all_products_button:hover {
  background: #6D3939;
  color: #fff;
}

.highlight {
  background: url(../img/highlight_bg.jpg) no-repeat bottom center scroll / cover;
  padding-top: 152px;
  padding-bottom: 171px;
}

.highlight__inner {
  position: relative;
}

.highlight__image {
  position: absolute;
  top: -307px;
  left: -300px;
  width: 797px;
  height: 777px;
  background: url(../img/highlight.png) no-repeat;
}

.highlight__title {
  font: bold 42px/55px 'Montserrat', sans-serif;
  color: #1C1F23;
}

.highlight__text {
  font: 14px/29px 'Montserrat', sans-serif;
  color: #1C1F23;
}

.highlight__button {
  margin-top: 50px;
}

.info {
  padding-top: 70px;
  padding-bottom: 90px;
}

.info__text {
  font: 14px/29px 'Montserrat', sans-serif;
  color: #1C1F23;
}

.info__images {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.info__small-image-wrap {
  width: 360px;
  height: 415px;
  overflow: hidden;
  border-radius: 15px;
}

.info__big-image-wrap {
  width: 721px;
  height: 415px;
  overflow: hidden;
  border-radius: 15px;
}

.info__small-image {
  max-width: 100%;
  box-shadow: 0px 22px 68px rgba(49, 60, 97, 0.5);
}

.info__big-image {
  max-width: 100%;
  box-shadow: 0px 22px 68px rgba(49, 60, 97, 0.5);
}

.home .slick-next {
  width: 44px;
  height: 44px;
  background: url(../img/slick_right.svg) no-repeat;
  right: 1%;
  z-index: 20;
}

.home .slick-prev {
  width: 44px;
  height: 44px;
  background: url(../img/slick_left.svg) no-repeat;
  left: 1%;
  z-index: 20;
}

.home .slick-dots {
  bottom: 55px;
  left: 0;
}

.home .slick-dots li {
  width: 10px;
  height: 10px;
  border: 2px solid #6D3939;
  border-radius: 50%;
  background: transparent;
  position: relative;
}

.home .slick-dots button {
  border: 0;
  width: 0;
  height: 0;
  padding: 0;
}

.home .slick-dots button:after,
.home .slick-dots button:before {
  display: none;
}

.home .slick-dots .slick-active {
  background: #6D3939;
}

.home .slick-dots .slick-active:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #6D3939;
  width: 15px;
  height: 14px;
}

.slider__content {
  width: 490px;
}

.slider__item {
  background-image: url(../img/slider_bg3.png), url(../img/slider_bg2.png), url(../img/slider_bg.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  height: 590px;
  background-size: cover;
}

.slider__title {
  margin-top: 100px;
  font: 600 41px 'Montserrat', sans-serif;
  color: #1C1F23;
}

.slider__text {
  font: 14px/29px 'Montserrat', sans-serif;
  color: #1C1F23;
  height: 125px;
  overflow: hidden;
}

.slider__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 52px;
}

.slider__price {
  margin-right: 40px;
  font-size: 42px;
}

.slider-image-wrap {
  width: 384px;
  height: 429px;
  margin-top: 90px;
  margin-right: 30px;
  overflow: hidden;
}

.slider__image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/*cart*/

.cart__list {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.cart__epmty {
  padding: 15px;
}

.cart__item {
  display: flex;
  align-items: center;
  padding: 26px 34px;
  border-bottom: 1px solid #DFE5ED;
}

.cart__image-wrap {
  overflow: hidden;
  width: 113px;
  height: 113px;
  background: radial-gradient(56.5px at 50% 50%, #FFFFFF 0%, #EDEDED 100%);
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0px 1px 4px rgba(49, 60, 97, 0.15);
  border-radius: 15px;
  position: relative;
}

.cart__image {
  display: block;
  max-width: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.cart__title {
  width: 255px;
  margin-left: 45px;
  color: #131D28;
  font: 500 16px 'Montserrat', sans-serif;
}

.cart__counter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  margin-left: 30px;
  border: 1px solid #D2D6E0;
  border-radius: 4.5px;
  padding: 9px;
}

.cart__counter_product {
  width: 170px;
  margin: 10px auto 15px;
}

.cart__q {
  text-decoration: none;
  font-size: 20px;
}

.cart__q_inc {
  color: #83C47D;
}

.cart__q_dec {
  color: #D24848;
}

.cart__sum {
  font: 24px 'Montserrat', sans-serif;
  color: #131D28;
  margin-left: 38px;
  width: 110px;
  white-space: nowrap;
}

.cart__q_wrapper {
  display: flex;
  justify-content: space-between;
  width: 50px;
}

.cart_delete {
  display: block;
  width: 15px;
  height: 15px;
  margin-left: 46px;
  background: url(../img/delete_cart_item.svg) no-repeat;
}

.cart__links {
  display: flex;
  justify-content: space-between;
  padding: 26px 34px;
}

.cart__link {
  color: #A1AAB2;
  font: 500 14px 'Montserrat', sans-serif;
  text-decoration: none;
}

.cart__total {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.cart__total-text {
  font: 14px 'Montserrat', sans-serif;
  padding: 15px 0;
  text-align: center;
}

.cart__total-sum {
  font: 600 40px 'Montserrat', sans-serif;
  color: #6D3939;
  text-align: center;
  padding: 25px 5px;
  background: #F9F9F9;
  border-top: 1px solid #DFE5ED;
  border-bottom: 1px solid #DFE5ED;
}

.cart__total-sum_product {
  color: #131D28;
  font-weight: 300;
}

.cart__go_checkout {
  padding: 35px 0;
  text-align: center;
}

.cart__go_checkout_product {
  padding: 0;
}

.cart__button {
  padding: 22px 38px;
}

.cart__button {
  text-align: center;
}

.order_confirmed {
  text-align: center;
  margin: 0 auto;
}

.order_confirmed__image {
  background: url(../img/order_confirmed.svg) no-repeat;
  width: 94px;
  height: 97px;
  margin: 0 auto;
}

.order_confirmed__title {
  font-size: 30px;
  font-weight: bold;
  color: #1C1F23;
  margin-top: 46px;
}

.order_confirmed__text {
  margin-top: 30px;
}

.order_confirmed__button {
  margin-top: 70px;
}

.product__slider {
  min-height: 520px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.product__info {
  min-height: 520px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.product__delivery {
  padding: 25px;
  font-size: 13px;
  line-height: 20px;
  border-bottom: 1px solid #DFE5ED;
}

.product__content {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top: 50px;
}

.product__avalable {
  font: 700 14px 'Montserrat', sans-serif;
  padding: 15px 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.product__avalable-icon {
  background: url(../img/available.svg) no-repeat;
  width: 23px;
  height: 17px;
  margin-right: 5px;
}

.product__counter {
  margin: 28px;
  text-align: center;
}

.product__one-click-buy {
  display: block;
  margin: 20px auto;
  text-align: center;
  text-decoration: underline;
  font-weight: 500;
  color: #131D28;
}

.product__one-click-buy:hover {
  text-decoration: none;
}

.tabs__titles {
  display: flex;
  justify-content: space-between;
  background: #F9F9F9;
  border-radius: 10px 10px 0 0;
}

.tabs__title {
  width: 50%;
  padding: 21px 0 17px 0;
  text-align: center;
  text-decoration: none;
  color: #131D28;
}

.tabs__title.active {
  color: #6D3939;
  border-bottom: 4px solid #6D3939;
  font-weight: bold;
}

.tabs__title[data-content="props"] {
  border-right: 1px solid rgba(0, 0, 0, 0.07);
}

.tabs__content {
  display: none;
}

.tabs__content.active {
  display: block;
}

.tabs__content {
  padding: 70px 100px;
}

.props__line {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  border-radius: 10px;
}

.props__line:nth-child(2n + 1) {
  background: #F2F2F2;
}

.props__key {
  font-weight: bold;
}

.catalog__items_small {
  margin-top: 40px;
}

.catalog__item_small {
  height: 490px;
}

.catalog__item_small .catalog__image-wrap {
  height: 204px;
  margin-bottom: 16px;
}

.catalog__item_small .catalog__title {
  font-size: 15px;
  height: 60px;
}

.catalog__item_small .properties_cat {
  margin-top: 15px;
  margin-bottom: 15px;
}

.catalog__item_small .catalog__price {
  font-size: 18px;
}

.catalog__item_small .catalog__add-to-cart {
  padding: 9px 15px;
  font-size: 14px;
}

.catalog__item_small .properties_cat__item {
  display: flex;
  flex-direction: column;
}

.sidebar {
  border-radius: 10px;
  background: #FAFAFC;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 12px;
}

.sidebar__title {
  background: #E8E0DB;
  font-weight: bold;
  text-align: center;
  padding: 14px 27px;
  border-radius: 10px;
  font-size: 16px;
}

@media (max-width: 1200px) {
  .footer__phone {
    font-size: 25px;
  }

  .home .news__item {
    width: 31%;
  }
}

@media (max-width: 1140px) {
  .header__contacts {
    width: 260px;
    text-align: center;
    margin: 0 auto 15px;
  }

  .header__phone {
    font-size: 30px;
  }

  .header__nav {
    justify-content: center;
    flex-direction: column;
  }

  .header .menu {
    justify-content: center;
  }

  .header .menu li {
    text-align: center;
    margin: auto 15px;
  }

  .header .menu li:last-child {
    text-align: center;
    margin: auto 15px;
  }

  .cart__button {
    font-size: 15px;
    padding: 17px 22px;
  }
}

@media (max-width: 992px) {
  .header__logo {
    margin: 12px auto;
  }

  .header__search {
    margin: 0 auto;
  }

  .header .menu li a:before,
  .header .menu li a:after {
    display: none;
  }

  .header__cart-wrap {
    margin: 0 auto;
    max-width: 200px;
  }

  .header__cart {
    margin: 30px auto;
  }

  .header__cart:before {
    margin: 20px auto 40px;
    top: -8px;
    left: -100px;
  }

  .footer__socials {
    margin-bottom: 30px;
    justify-content: flex-start;
  }

  .footer__socials:before {
    content: '';
  }

  .footer__social-item {
    margin-left: 0;
    margin-right: 21px;
  }

  .footer__menu_first {
    margin-left: 0;
  }

  .footer__menu_second {
    margin-left: 0;
  }

  .footer__phone {
    margin-bottom: 5px;
  }

  .catalog__item {
    margin-bottom: 50px;
  }

  .highlight {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .highlight__image {
    display: none;
  }

  .highlight__title {
    font: bold 28px/33px 'Montserrat', sans-serif;
  }

  .highlight__button {
    margin-top: 20px;
  }

  .info {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .cart__total {
    margin-top: 20px;
  }

  .product__info {
    margin-top: 20px;
  }

  .product__delivery {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .main-title {
    text-align: center;
  }

  .content {
    max-width: 80%;
    margin: 0 auto;
  }

  .footer__main {
    text-align: center;
  }

  .footer__logo {
    margin: 0 auto;
  }

  .footer__socials {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .header .menu {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50px;
    left: -15px;
    right: -15px;
    background: #fff;
    z-index: 2;
  }

  .header .menu_active {
    display: flex;
    flex-direction: column;
  }

  .header .menu li {
    justify-content: center;
  }

  .header .menu li a {
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    text-decoration: none;
    color: #6D3939;
    font: 17px/40px 'Montserrat', sans-serif;
  }

  .header__menu-toggler {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font: bold 21px/50px 'Montserrat', sans-serif;
    color: #6D3939;
  }

  .footer__title {
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .main {
    margin-bottom: 40px;
  }

  .content__subtitle {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .content {
    padding: 25px 15px;
    font-size: 14px;
  }

  .about_us__short-text {
    line-height: 20px;
  }

  .about_us__full-text-wrap {
    padding: 25px 15px;
    line-height: 20px;
    margin-top: 30px;
  }

  .about_us__link {
    padding: 15px 15px;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .about_us__link_full-text {
    padding: 15px 15px;
    font-size: 16px;
  }

  .home .news__item {
    width: 48%;
  }

  .home_title_wrap {
    flex-direction: column;
  }

  .home_title {
    margin-bottom: 20px;
    text-align: center;
  }

  .popular__item {
    margin-bottom: 30px;
  }

  .cart__item {
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .cart__image-wrap {
    width: 150px;
    height: 150px;
  }

  .cart__title {
    text-align: center;
    margin-top: 15px;
    margin-left: 0;
  }

  .cart__counter {
    margin-top: 15px;
    margin-left: 0;
  }

  .cart__counter_product {
    margin: 10px auto;
  }

  .cart__sum {
    margin-top: 15px;
    margin-left: 0;
  }

  .cart_delete {
    margin-left: 0;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .order_confirmed__button {
    padding: 15px 18px;
  }

  .tabs__content {
    padding: 18px;
  }

  .props__line {
    flex-direction: column;
  }
}

@media (max-width: 575px) {
  .header__logo {
    max-width: 231px;
    height: 48px;
    background-size: cover;
  }

  .footer__copyrights-inner {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .cart__links {
    flex-direction: column;
  }

  .cart__link {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .footer__main {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .home .news__item {
    width: 100%;
  }

  .popular {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .catalog {
    padding-bottom: 40px;
  }

  .catalog__item-inner {
    padding: 0 12px;
  }

  .properties_cat__item {
    font-size: 12px;
    padding: 10px;
  }

  .catalog__price {
    font-size: 22px;
  }

  .catalog__icon {
    display: none;
  }

  .all_products_button_wrap {
    margin-top: 0;
  }

  .all_products_button {
    padding: 18px;
  }

  .cart__item {
    padding: 20px 15px;
  }

  .tabs__title {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content {
    max-width: 90%;
    margin: 0 auto;
  }
}











/*mine*/
.sidenav {
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FAFAFC;
  overflow-x: hidden;
  padding-top: 20px;
  margin-bottom: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 10px 8px 10px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  font-weight: 500;
}

/* Main content */
.main {
  margin-left: 12%; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {

}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  padding-left: 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

}
.dropdown-container a:hover {
  background: #F1F1F1;
}
/* Optional: Style the caret down icon */
.fa-angle-right {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*radiobuttons*/
/* This css is for normalizing styles. You can skip this. */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




.new {
  padding: 13px;
}

.form-group {
  display: block;
  margin-bottom: 15px;
  padding: 5px 0;
  font-size: 15px;
}

.form-group span {
  margin-left: 6px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid rgba(121, 75, 72, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group input:checked + label:after {
  content: url("../img/check.png");
  display: block;
  position: absolute;
  top: 2px;
  left: 5px;
  width: 6px;
  height: 14px;
}
.sidebar-bottom{
  text-align: center;
  font-size: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 30px;
}
.sidebar-bottom p {
  margin: 23px 0 16px 0;
}
.sidebar-bottom span {
  font-weight: 600;
}

@media (max-width: 1000px) {
  .slider__content {
    width: 100%;
    text-align: center;
  }
  .slider__title{
    font-size: 25px;
    margin-top: 33px;
  }
  .slider__info{
    display: block;
    margin: 0;
  }
  .slider__text{
    margin: 10px 0;
  }
  .slider__price{
    margin: 12px 0;
    font-size: 29px;
  }
  .slider-image-wrap{
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .slider-image-wrap img {
    height: 50%;
    margin: 0 auto;
    padding: 40px 0;
  }
  .home .slick-dots {
    bottom: 19px;
  }
}

.fotorama{
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.fotorama__thumb__img {
  background: black;
  border-radius: 10px;
}


.product-slider-main {
  background: radial-gradient(226.00px at 50% 50%, #FFFFFF 0%, #EDEDED 100%);
  border: 1px solid rgba(121, 75, 72, 0.25);
  border-radius: 15px;
  padding: 94px 150px;
  height: 100%;
  margin-top: 34px;
}
.product-slider-sub img {
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: black;
}
.registration-1 span {
   color: red;
 }
.registration-1 p {
  font-size: 16px;
}
.content-registration{
  padding-left: 43px;
  padding-top: 0!important;
}
.registration-2 h2 {
  font-size: 18px;
}
.registration {
  padding: 45px 0;
  align-items: center;
}
.content-registration input{
  background: #F6F8F7;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 12px;
  padding: 12px;
  width: 100%;
}
.p-20{
  padding-top: 20px;
}

.m-30{
  margin-left: 30px;
}
.registration textarea {
  background: #F6F8F7;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  height: 100px;
  padding: 12px 0 0 24px;
  font-size: 14px;
}
.registration-4 span{
  font-size: 14px;
  color: #A1AAB2;
  padding-left: 12px;
}
.registration-4 p {
  font-size: 29px;
}
.registration-4{
  align-items: center;
  margin-left: 45px;
  border-top: 1px solid #DFE5ED;
  padding-top: 34px;
}
.registration-2 {
  border-top: 1px solid #DFE5ED;
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  transform: scale(1.08);
}
.registration{
  margin-left: 45px;
}
.registration-3 {
  margin-bottom: 30px;
}


#order label span {
  cursor: pointer;
  padding: 25px 50px 25px 70px;
  font-size: 15px;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  border-radius: 7px;
  color: #131D28;
  position: relative;
  display: block;
  height: 85px;
}
#order label span::before {
  content: '';
  width: 25px;
  height: 25px;
  background: white;
  position: absolute;
  display: block;
  border-radius: 10em;
  margin-left: -16%;
  border: 1px solid rgba(121, 75, 72, 0.2);
}
#order label span::after {
  content: '';
  width: 15px;
  height: 15px;
  background: #8D9C4C;
  display: block;
  position: absolute;
  border-radius: 10em;
  top: 38%;
  left: 7%;
  opacity: 0;
  transition: opacity .4s ease;
}
#order label input {
  visibility: hidden;
}
#order label input:checked + span {
  background: #6D3939;
  color: white;
}
#order label input:checked + span::after {
  opacity: 1;
}
#order label input:checked + .delivery-mail::after {
  left: 8%;
  top: 37%;
}

@media (max-width: 1200px) {
  .main {
    margin-left: 0;
  }
}

@media (min-width: 470px) and (max-width: 991px) {
  .sidebar {
    margin: 0 20%;
  }
}
.checkout {
  margin: 0 auto 100px;
}

@media (min-width: 1139px) and (max-width: 1200px)  {
  #order label span::after {
    left: 11%;
  }
}
@media (min-width: 1000px) and (max-width: 1139px)  {
  #order label span::after {
    left: 15%;
    top: 36%;
  }
}
@media (min-width: 913px) and (max-width: 1000px)  {
  #order label span::after {
    left: 19%;
    top: 35%;
  }
}
@media (min-width: 850px) and (max-width: 913px)  {
  #order label span::after {
    left: 25%;
    top: 35%;
  }
}
@media (min-width: 768px) and (max-width: 850px)  {
  #order label span::after {
    left: 9%;
    top: 23%;
  }
  #order label span {
    padding: 13px 15px 20px 60px;
  }
}
@media (min-width: 1130px) and (max-width: 1200px)  {
  #order label input:checked + .delivery-mail::after {
    left: 11%;
    top: 39%;
  }
}
@media (min-width: 1047px) and (max-width: 1130px)  {
  #order label input:checked + .delivery-mail::after {
    left: 16%;
    top: 37%;
  }
}
@media (min-width: 950px) and (max-width: 1047px)  {
  #order label input:checked + .delivery-mail::after {
    left: 18%;
    top: 36%;
  }
}
@media (min-width: 900px) and (max-width: 950px)  {
  #order label input:checked + .delivery-mail::after {
    left: 21%;
    top: 29%;
  }
}
@media (min-width: 850px) and (max-width: 900px)  {
  #order label input:checked + .delivery-mail::after {
    left: 25%;
    top: 35%;
  }
}
@media (min-width: 768px) and (max-width: 850px)  {
  #order label span::before {
    margin-left: -29%;
  }
}
@media (min-width: 768px) and (max-width: 850px)  {
  #order label input:checked + .delivery-mail::after {
    left: 9%;
    top: 23%;
  }
}
@media (max-width: 768px)  {
  .registration {
    margin-right: 45px;
  }
}
@media (max-width: 768px)  {
  #order label span::before {
    margin-left: -10%;
  }
}
@media (min-width: 650px) and (max-width: 768px)  {
  #order label span::after {
    left: 9%;
    top: 37%;
  }
}
@media (min-width: 550px) and (max-width: 650px)  {
  #order label span::after {
    left: 13%;
    top: 38%;
  }
  #order label input:checked + .delivery-mail::after {
    left: 16%;
    top: 38%;
  }
}
@media (max-width: 550px)  {
  #order label span::before {
    margin-left: -19%;
  }
}
@media (min-width: 500px) and (max-width: 550px)  {
  #order label span::after {
    left: 8%;
    top: 35%;
  }
  #order label input:checked + .delivery-mail::after {
    left: 8%;
    top: 38%;
  }
}
@media (min-width: 450px) and (max-width: 500px)  {
  #order label span::after {
    left: 14%;
    top: 31%;
  }
  #order label input:checked + .delivery-mail::after {
    left: 13%;
    top: 36%;
  }
}
@media (min-width: 400px) and (max-width: 450px)  {
  #order label span::after {
    left: 21%;
    top: 27%;
  }
  #order label input:checked + .delivery-mail::after {
    left: 23%;
    top: 32%;
  }
}
@media (max-width: 400px)  {
  #order label span::before {
    margin-left: -28%;
  }
  #order label span::after {
    left: 25%;
    top: 27%;
  }
  #order label input:checked + .delivery-mail::after {
    left: 19%;
    top: 27%;
  }
}
@media (max-width: 768px) {
  .m-30 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  #order label input:checked + .delivery-mail::after {
    left: 8%;
  }
}
@media (min-width: 600px) and (max-width: 650px)  {
  #order label input:checked + .delivery-mail::after {
    left: 12%;
    top: 43%;
  }
}
@media (min-width: 850px) and (max-width: 1000px) {
  #order label span {
    padding: 25px 0 25px 70px;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.wrapper {
  height: 500px;
  display: flex;
  flex-direction: row;
}

/*.swiper-slide img {*/
/*  display: block;*/
/*  height: 100%;*/
/*  width: 100%;*/
/*  margin: 0 auto;*/
/*  object-fit: cover;*/
/*}*/

/*.Thumbs {*/
/*  flex-basis: 100px;*/
/*}*/

/*.Thumbs .swiper-slide {*/
/*  opacity: 0.4;*/
/*}*/

/*.Thumbs .swiper-slide-active {*/
/*  opacity: 1;*/
/*}*/


/**/

.swiper-slide{
  width: 60%;
}
.slideshow {
  display: flex;
  height: 70vh;
  width: 80vw;
  max-width: 1240px;
  min-height: 400px;
  max-height: 700px;
  position: relative;
  background-color: #fff;
  padding: 20px;
}
.slideshow__gallery {
  height: 100%;
  width: calc(80% - 20px);
  margin-right: 20px;
}
.slideshow__gallery-wrap {
  will-change: transform;
  transition-timing-function: cubic-bezier(0, 0, 0.3, 0.98);
  transform: translate3d(0, 0, 0);
}
.slideshow__gallery-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 32px;
  color: #fff;
  letter-spacing: 3.2px;
  transform: translate3d(0, 0, 0);
  will-change: font-size;
  transition: font-size 0.3s ease;
  background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #EDEDED 100%);
  border: 1px solid rgba(121, 75, 72, 0.25);
  border-radius: 15px;
  max-width: 600px;
}

.slideshow__gallery-slide.active {
  font-size: 36px;
}
.slideshow__thumbs {
  height: 100%;
  width: 20%;
}
.slideshow__thumbs-wrap {
  will-change: transform;
  transition-timing-function: cubic-bezier(0, 0, 0.3, 0.98);
  transform: translate3d(0, 0, 0);
}
.slideshow__thumbs-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #fff;
  letter-spacing: 2px;
  will-change: font-size;
  transition: font-size 0.3s ease;
}
.slideshow__thumbs-slide img {
  border-radius: 20px;
}
.slideshow__thumbs-slide.active {
  font-size: 26px;
}
@media (max-width: 1000px) {
  .slideshow {
    width: 100%;
  }
  .slideshow__gallery-slide {
    margin: 0 auto;
  }
  .slideshow__gallery-slide img, .slideshow__thumbs-slide img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 376px) {
  #order label span{
    font-size: 10px;
    height: 100%;
  }
  .registration-4 p{
    font-size: 22px;
    margin: 10px 0;
  }
  .registration-4 {
    margin-left: 11px;
    text-align: center;
  }
  .registration-2 h2 {
    margin-bottom: 10px;
  }
  #order label input:checked + .delivery-mail::after {
    left: 23%;
    top: 31%;
  }
  #order label span::after {
    left: 23%;
    top: 30%;
  }
  }
@media (max-width: 600px) {
  .swiper-slide{
    width: 92%;
  }
}